.DS_Store
.claude
/workbench
/mcp-server/workbench
/mcp-server/assets/ai/ai-rust
/mcp-server/target
/mcp-server/bin
/mcp-server/.claude/
/mcp-server/.tantivy-index
/mcp-server/.fastembed_cache/
/.tantivy-index/
/.tantivy-index-test/
/.cache/
/data
/assets/images/logo/drafts/
/sources-md/neo-riemannian-handbook/
/sources-md/21st-century-classroom/book.json
/sources-md/21st-century-classroom/book.md
/sources-md/21st-century-classroom/images/
/sources-md/20th-century-harmony/
/sources-md/analyzing-classical-form/
/sources-md/audacious-euphony/
/sources-md/classical-form/
/sources-md/fundamentals-music-comp/
/sources-md/gen-intervals-xforms/
/sources-md/geometry-of-music/
/sources-md/post-tonal-theory/
/sources-md/complete-muscician/
/sources-md/tonality-owners-manual/
/sources-md/maths-and-music/
/sources-md/old/
/sources-md/.DS_Store
/git-tracked-files.txt
/workbench/git-tracked-files.txt
